@font-face {
  font-family: "iconfont"; /* Project id 3889097 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1754404575524') format('woff2'),
       url('iconfont.woff?t=1754404575524') format('woff'),
       url('iconfont.ttf?t=1754404575524') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e612";
}

.icon-jiaoxueshiyan:before {
  content: "\10211";
}

.icon-yeqing:before {
  content: "\e90e";
}

.icon-kings:before {
  content: "\e602";
}

.icon-grizzlies:before {
  content: "\e601";
}

.icon-clippers:before {
  content: "\e603";
}

.icon-nuggets:before {
  content: "\e604";
}

.icon-mavericks:before {
  content: "\e605";
}

.icon-spurs:before {
  content: "\e606";
}

.icon-suns:before {
  content: "\e607";
}

.icon-pelicans:before {
  content: "\e608";
}

.icon-chevron-left:before {
  content: "\e638";
}

.icon-chevron-right:before {
  content: "\e64a";
}

.icon-bolanggu:before {
  content: "\e6eb";
}

.icon-jinzita:before {
  content: "\e6ec";
}

.icon-shoutao:before {
  content: "\e6ed";
}

.icon-chifan:before {
  content: "\e6ee";
}

.icon-konglong:before {
  content: "\e6ef";
}

.icon-muqin:before {
  content: "\e6f0";
}

.icon-jimu:before {
  content: "\e6f1";
}

.icon-kehuishou-bolilei:before {
  content: "\e61f";
}

.icon-kehuishou-suliaolei:before {
  content: "\e620";
}

.icon-kehuishou-zhilei:before {
  content: "\e621";
}

.icon-qitalaji-chongwufenbian:before {
  content: "\e630";
}

.icon-qitalaji-yicixingcanju:before {
  content: "\e631";
}

.icon-qitalaji-nvxingweishengyongpin:before {
  content: "\e632";
}

